@mixin text-line-geometry($unit: 4px) {
  width: $unit * 150;
  padding-top: $unit * 2.5;
  padding-bottom: $unit * 3.5;
}

.text-line {
  @include text-line-geometry(4px);

  position: relative;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(60, 1fr);


  &::before {
    content: "";

    position: absolute;
    bottom: 1px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-gray;
  }

  @media (min-height: $height-breakpoint-1) {
    @include text-line-geometry(5px);
  }

  @media (min-height: $height-breakpoint-2) {
    @include text-line-geometry(6px);
  }

  @media (min-height: $height-breakpoint-3) {
    @include text-line-geometry(7px);
  }
}
