$color-white: #ffffff;
$color-black: #444444;

$color-blue: #0080FF;
$color-blue-dark: #026FDF;

$color-green: #4CD864;

$color-gray-light: #f8f8f8;
$color-gray: #EDEDEF;
$color-gray-dark: #D0D0D0;

$color-red: #FF4158;

$gradient-blue: linear-gradient(to bottom, #02B7FF 0%, #0080FF 100%);
$gradient-blue-dark: linear-gradient(to bottom, #02B7FF 0%, #0072E4 100%);

$height-breakpoint-1: 720px;
$height-breakpoint-2: 860px;
$height-breakpoint-3: 1020px;
